<main>

  <div class="content-block content-block--sml">
    <h1>
        New session
      </h1>
      <p><%= link_to("<< Back to List", sessions_path, :class => 'back-link') %></p>
      </div>




<div class="content-block">
<div class="form">





  <%= form_for(@session) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create session") %>
    </div>

  <% end %>
</div>
</div>
</main>
