<%= errors_for(f.object) %>

<table summary="Host form fields">
  <tr>
    <th>Host</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><%= f.text_field(:link) %></td>
  </tr>
</table>
