<%= link_to("<< Back to List", roles_path, :class => 'back-link') %>

<div class="roles new">
  <h2>Create Role</h2>

  <%= form_for(@role) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Role") %>
    </div>

  <% end %>
</div>
